# Python ignores
.yov-venv
__pycache__/
*.pyc

# VSCode
.vscode/

# Databases folder
databases/*
!databases/helena_cat.zip
!databases/README.md


#Users folder
users/

# Training queue folder
.train_queue/

# Folder where we keep some WAV files for testing
wav_tests/
